<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922107</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>web</string>
		<key>text</key>
		<string>RT @cakeforthought 24. If you wish hard enough, you will hear your current favourite song on the radio minutes after you get into your car.</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Thu Jul 23 20:39:21 +0000 2009</string>
			<key>description</key>
			<string>AdMan / Music Collector</string>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>156</string>
			<key>following</key>
			<false/>
			<key>friends_count</key>
			<string>151</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>59581900</string>
			<key>location</key>
			<string>Tempe, Arizona</string>
			<key>name</key>
			<string>Khaled Itani</string>
			<key>notifications</key>
			<false/>
			<key>profile_background_color</key>
			<string>1A1B1F</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1257288876/images/themes/theme9/bg.gif</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/503330459/madmen_icon_normal.jpg</string>
			<key>profile_link_color</key>
			<string>2FC2EF</string>
			<key>profile_sidebar_border_color</key>
			<string>050505</string>
			<key>profile_sidebar_fill_color</key>
			<string>252429</string>
			<key>profile_text_color</key>
			<string>8c8c8c</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>khaled_itani</string>
			<key>statuses_count</key>
			<string>617</string>
			<key>time_zone</key>
			<string>Pacific Time (US &amp; Canada)</string>
			<key>url</key>
			<false/>
			<key>utc_offset</key>
			<string>-28800</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922106</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://www.hootsuite.com&quot; rel=&quot;nofollow&quot;&gt;HootSuite&lt;/a&gt;</string>
		<key>text</key>
		<string>蜗牛有房子！RT @zqzx: 蝴蝶为什么嫁给蜗牛？: http://bit.ly/F551P</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Wed Jul 22 04:15:56 +0000 2009</string>
			<key>description</key>
			<string>80后，处女座，无主的肋骨，宅+微腐。完美控，纠结控。在相亲的打击与被打击中不断成长ing</string>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>572</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>102</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>59032339</string>
			<key>location</key>
			<string>Shanghai</string>
			<key>name</key>
			<string>艾小薇</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>9ae4e8</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1257210731/images/themes/theme1/bg.png</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a1.twimg.com/profile_images/326632226/1_normal.jpg</string>
			<key>profile_link_color</key>
			<string>0000ff</string>
			<key>profile_sidebar_border_color</key>
			<string>87bc44</string>
			<key>profile_sidebar_fill_color</key>
			<string>e0ff92</string>
			<key>profile_text_color</key>
			<string>000000</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>ivy_shi0905</string>
			<key>statuses_count</key>
			<string>1341</string>
			<key>time_zone</key>
			<string>Beijing</string>
			<key>url</key>
			<false/>
			<key>utc_offset</key>
			<string>28800</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922097</string>
		<key>in_reply_to_screen_name</key>
		<string>Nicholas_Chan</string>
		<key>in_reply_to_status_id</key>
		<string>5407821461</string>
		<key>in_reply_to_user_id</key>
		<string>14919730</string>
		<key>source</key>
		<string>&lt;a href=&quot;http://echofon.com/&quot; rel=&quot;nofollow&quot;&gt;Echofon&lt;/a&gt;</string>
		<key>text</key>
		<string>@Nicholas_Chan - Oh yea, forgot to tell u abt the mem card.  That&apos;s the only issue so far.  E71 won&apos;t let u down (but Nokia svc is bad!)</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Fri Jul 17 18:39:24 +0000 2009</string>
			<key>description</key>
			<string>Jesus is my life.  i love my mom/dad &amp; i adore Bruce Marchiano.</string>
			<key>favourites_count</key>
			<string>80</string>
			<key>followers_count</key>
			<string>53</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>28</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>57719744</string>
			<key>location</key>
			<string>GMT+8</string>
			<key>name</key>
			<string>haydee</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>352726</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1256928834/images/themes/theme5/bg.gif</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/497332429/image_normal.jpg</string>
			<key>profile_link_color</key>
			<string>D02B55</string>
			<key>profile_sidebar_border_color</key>
			<string>829D5E</string>
			<key>profile_sidebar_fill_color</key>
			<string>99CC33</string>
			<key>profile_text_color</key>
			<string>3E4415</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>haydeeang</string>
			<key>statuses_count</key>
			<string>608</string>
			<key>time_zone</key>
			<string>Singapore</string>
			<key>url</key>
			<string>http://www.brucemarchiano.com/jtc.php</string>
			<key>utc_offset</key>
			<string>28800</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922096</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://twitterfeed.com&quot; rel=&quot;nofollow&quot;&gt;twitterfeed&lt;/a&gt;</string>
		<key>text</key>
		<string>Watch online: The Forgotten 1x07 Railroad Jane http://bit.ly/4fWHSB</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Tue Oct 06 15:52:50 +0000 2009</string>
			<key>description</key>
			<string></string>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>67</string>
			<key>following</key>
			<false/>
			<key>friends_count</key>
			<string>0</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>80333874</string>
			<key>location</key>
			<string></string>
			<key>name</key>
			<string>my-free-tv-guide.com</string>
			<key>notifications</key>
			<false/>
			<key>profile_background_color</key>
			<string>131516</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1257191498/images/themes/theme14/bg.gif</string>
			<key>profile_background_tile</key>
			<string>1</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/456062787/play_normal.jpg</string>
			<key>profile_link_color</key>
			<string>009999</string>
			<key>profile_sidebar_border_color</key>
			<string>eeeeee</string>
			<key>profile_sidebar_fill_color</key>
			<string>efefef</string>
			<key>profile_text_color</key>
			<string>333333</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>myfreetvguide</string>
			<key>statuses_count</key>
			<string>2018</string>
			<key>time_zone</key>
			<false/>
			<key>url</key>
			<string>http://my-free-tv-guide.com</string>
			<key>utc_offset</key>
			<false/>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922091</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://echofon.com/&quot; rel=&quot;nofollow&quot;&gt;Echofon&lt;/a&gt;</string>
		<key>text</key>
		<string>got that trigga trey on repeat</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Thu Mar 19 18:51:32 +0000 2009</string>
			<key>description</key>
			<string>19, Northwestern State University</string>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>119</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>100</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>25359730</string>
			<key>location</key>
			<string>New Orleans, La</string>
			<key>name</key>
			<string>Christean Robichaux</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>FF6699</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1257288876/images/themes/theme3/bg.gif</string>
			<key>profile_background_tile</key>
			<string>1</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/441940323/Pretty_Me78987_normal.jpg</string>
			<key>profile_link_color</key>
			<string>f52469</string>
			<key>profile_sidebar_border_color</key>
			<string>CC3366</string>
			<key>profile_sidebar_fill_color</key>
			<string>59e550</string>
			<key>profile_text_color</key>
			<string>f50f8d</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>crobichaux</string>
			<key>statuses_count</key>
			<string>429</string>
			<key>time_zone</key>
			<string>Central Time (US &amp; Canada)</string>
			<key>url</key>
			<string>http://www.facebook.com/profile.php?id=705737124&amp;ref=mf</string>
			<key>utc_offset</key>
			<string>-21600</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922088</string>
		<key>in_reply_to_screen_name</key>
		<string>EllieAragon</string>
		<key>in_reply_to_status_id</key>
		<string>5414858387</string>
		<key>in_reply_to_user_id</key>
		<string>23052507</string>
		<key>source</key>
		<string>&lt;a href=&quot;http://www.snaptu.com/a/twitter&quot; rel=&quot;nofollow&quot;&gt;Snaptu&lt;/a&gt;</string>
		<key>text</key>
		<string>@EllieAragon oh bless . You will get top marks you know so much about them 2 lads. Good luck darling xxxxx</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Mon May 18 17:00:38 +0000 2009</string>
			<key>description</key>
			<string></string>
			<key>favourites_count</key>
			<string>2</string>
			<key>followers_count</key>
			<string>976</string>
			<key>following</key>
			<false/>
			<key>friends_count</key>
			<string>1782</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>40914421</string>
			<key>location</key>
			<string>UK</string>
			<key>name</key>
			<string>Jillian Martina-Rigo</string>
			<key>notifications</key>
			<false/>
			<key>profile_background_color</key>
			<string>9ae4e8</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1257210731/images/themes/theme1/bg.png</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a1.twimg.com/profile_images/331286164/IMG_1460_normal.jpg</string>
			<key>profile_link_color</key>
			<string>0000ff</string>
			<key>profile_sidebar_border_color</key>
			<string>87bc44</string>
			<key>profile_sidebar_fill_color</key>
			<string>e0ff92</string>
			<key>profile_text_color</key>
			<string>000000</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>ClactonGirl</string>
			<key>statuses_count</key>
			<string>2284</string>
			<key>time_zone</key>
			<string>London</string>
			<key>url</key>
			<false/>
			<key>utc_offset</key>
			<string>0</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922086</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://twitterfeed.com&quot; rel=&quot;nofollow&quot;&gt;twitterfeed&lt;/a&gt;</string>
		<key>text</key>
		<string>Warriors lose second straight one-goal game to Saskatoon http://bit.ly/2Ni1w0</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Mon Oct 05 19:46:54 +0000 2009</string>
			<key>description</key>
			<false/>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>27</string>
			<key>following</key>
			<false/>
			<key>friends_count</key>
			<string>9</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>80108789</string>
			<key>location</key>
			<false/>
			<key>name</key>
			<string>MJ Times-Herald</string>
			<key>notifications</key>
			<false/>
			<key>profile_background_color</key>
			<string>9ae4e8</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1256928834/images/themes/theme1/bg.png</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/459641537/TH_wide_normal.jpg</string>
			<key>profile_link_color</key>
			<string>0000ff</string>
			<key>profile_sidebar_border_color</key>
			<string>87bc44</string>
			<key>profile_sidebar_fill_color</key>
			<string>e0ff92</string>
			<key>profile_text_color</key>
			<string>000000</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>MJTimesHerald</string>
			<key>statuses_count</key>
			<string>309</string>
			<key>time_zone</key>
			<false/>
			<key>url</key>
			<false/>
			<key>utc_offset</key>
			<false/>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922085</string>
		<key>in_reply_to_screen_name</key>
		<string>fckit_followme</string>
		<key>in_reply_to_status_id</key>
		<string>5414866215</string>
		<key>in_reply_to_user_id</key>
		<string>75100083</string>
		<key>source</key>
		<string>web</string>
		<key>text</key>
		<string>@fckit_followme ay thats how i get down</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Thu Oct 01 14:38:02 +0000 2009</string>
			<key>description</key>
			<string>im 20 yrs old and live life to the fullest</string>
			<key>favourites_count</key>
			<string>3</string>
			<key>followers_count</key>
			<string>178</string>
			<key>following</key>
			<false/>
			<key>friends_count</key>
			<string>102</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>78918586</string>
			<key>location</key>
			<string>Los Angeles,Ca</string>
			<key>name</key>
			<string>Demontre Carter</string>
			<key>notifications</key>
			<false/>
			<key>profile_background_color</key>
			<string>02070a</string>
			<key>profile_background_image_url</key>
			<string>http://a3.twimg.com/profile_background_images/50617425/7883640.jpg</string>
			<key>profile_background_tile</key>
			<string>1</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/507345025/20090322123754_normal.jpg</string>
			<key>profile_link_color</key>
			<string>eb0e19</string>
			<key>profile_sidebar_border_color</key>
			<string>6e1010</string>
			<key>profile_sidebar_fill_color</key>
			<string>223815</string>
			<key>profile_text_color</key>
			<string>943535</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>MontreFooo</string>
			<key>statuses_count</key>
			<string>2802</string>
			<key>time_zone</key>
			<string>Pacific Time (US &amp; Canada)</string>
			<key>url</key>
			<string>http://www.facebook.com/home.php?ref=home#/profile.php?id=1646435176&amp;ref=profile</string>
			<key>utc_offset</key>
			<string>-28800</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922084</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://echofon.com/&quot; rel=&quot;nofollow&quot;&gt;Echofon&lt;/a&gt;</string>
		<key>text</key>
		<string>出啥状况了？ RT: @bzcai: 抽!!(￣ε(#￣)☆╰╮(￣▽￣///) RT @ksky: @bzcai 包子,我天天梦见你...</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Fri Feb 13 03:24:55 +0000 2009</string>
			<key>description</key>
			<string></string>
			<key>favourites_count</key>
			<string>10</string>
			<key>followers_count</key>
			<string>71</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>87</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>20744452</string>
			<key>location</key>
			<string>Beijing</string>
			<key>name</key>
			<string>淡定</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>0099B9</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1257288876/images/themes/theme4/bg.gif</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a1.twimg.com/profile_images/480683868/1__Custom__normal.JPG</string>
			<key>profile_link_color</key>
			<string>0099B9</string>
			<key>profile_sidebar_border_color</key>
			<string>5ED4DC</string>
			<key>profile_sidebar_fill_color</key>
			<string>95E8EC</string>
			<key>profile_text_color</key>
			<string>3C3940</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>song4fun</string>
			<key>statuses_count</key>
			<string>685</string>
			<key>time_zone</key>
			<string>Beijing</string>
			<key>url</key>
			<string>http://t.sina.com.cn/song4fun</string>
			<key>utc_offset</key>
			<string>28800</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922081</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://echofon.com/&quot; rel=&quot;nofollow&quot;&gt;Echofon&lt;/a&gt;</string>
		<key>text</key>
		<string>The best one ive seen today LOL RT @YgFlash: #losemynumber if i hit and didnt call u 1st...LOL</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Thu Mar 12 02:52:01 +0000 2009</string>
			<key>description</key>
			<string>I am a entrepreneur &amp; fashion designer . I feel very blessed on where i am at in my life rightt now and its only getting better and follow me!</string>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>259</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>226</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>23881241</string>
			<key>location</key>
			<string>LONG BEACH, CA</string>
			<key>name</key>
			<string>Zo A.</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>BADFCD</string>
			<key>profile_background_image_url</key>
			<string>http://a1.twimg.com/profile_background_images/47835054/12704912ng3.jpg</string>
			<key>profile_background_tile</key>
			<string>1</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/488353435/Picture_014_normal.jpg</string>
			<key>profile_link_color</key>
			<string>FF0000</string>
			<key>profile_sidebar_border_color</key>
			<string>f70d24</string>
			<key>profile_sidebar_fill_color</key>
			<string>050505</string>
			<key>profile_text_color</key>
			<string>bfb8bc</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>ZoLAKYO</string>
			<key>statuses_count</key>
			<string>2019</string>
			<key>time_zone</key>
			<string>Pacific Time (US &amp; Canada)</string>
			<key>url</key>
			<string>http://www.myspace.com/lakyo</string>
			<key>utc_offset</key>
			<string>-28800</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922080</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://ubertwitter.com&quot; rel=&quot;nofollow&quot;&gt;UberTwitter&lt;/a&gt;</string>
		<key>text</key>
		<string>On a meeting. Here in this company, I can chat and joking w/ Directors freely, hehe, something that very rare before here :p</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Thu Apr 23 07:28:25 +0000 2009</string>
			<key>description</key>
			<string>M/28 (ouch!)/Proud Husband/Funky Dad to be/SoccerHolic/Working Happily for Thai Company</string>
			<key>favourites_count</key>
			<string>2</string>
			<key>followers_count</key>
			<string>184</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>94</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>34560834</string>
			<key>location</key>
			<string>Jakarta, Indonesia</string>
			<key>name</key>
			<string>Andrianto Pradono</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>1e2357</string>
			<key>profile_background_image_url</key>
			<string>http://a3.twimg.com/profile_background_images/17575299/vladstudio_fifa_1280x1024.jpg</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/496139249/Sing_27_normal.jpg</string>
			<key>profile_link_color</key>
			<string>050505</string>
			<key>profile_sidebar_border_color</key>
			<string>1e2357</string>
			<key>profile_sidebar_fill_color</key>
			<string>fcfcfd</string>
			<key>profile_text_color</key>
			<string>e51010</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>andripradono</string>
			<key>statuses_count</key>
			<string>684</string>
			<key>time_zone</key>
			<string>Jakarta</string>
			<key>url</key>
			<string>http://thepradonos.com</string>
			<key>utc_offset</key>
			<string>25200</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922077</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://twitterfeed.com&quot; rel=&quot;nofollow&quot;&gt;twitterfeed&lt;/a&gt;</string>
		<key>text</key>
		<string>NOTEBOOK LOCK WITH KEY HIGH QUALITY LAPTOP LOCK KEY: NOTEBOOK COMPUTER LOCK MADE WITH HIGH QUALITY ALLOY METERI.. http://bit.ly/2dXSPw</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Thu Sep 24 22:43:27 +0000 2009</string>
			<key>description</key>
			<false/>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>1834</string>
			<key>following</key>
			<false/>
			<key>friends_count</key>
			<string>0</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>77063895</string>
			<key>location</key>
			<false/>
			<key>name</key>
			<string>john</string>
			<key>notifications</key>
			<false/>
			<key>profile_background_color</key>
			<string>9ae4e8</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1257278527/images/themes/theme1/bg.png</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://s.twimg.com/a/1257278527/images/default_profile_6_normal.png</string>
			<key>profile_link_color</key>
			<string>0000ff</string>
			<key>profile_sidebar_border_color</key>
			<string>87bc44</string>
			<key>profile_sidebar_fill_color</key>
			<string>e0ff92</string>
			<key>profile_text_color</key>
			<string>000000</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>chnumberone</string>
			<key>statuses_count</key>
			<string>16914</string>
			<key>time_zone</key>
			<false/>
			<key>url</key>
			<false/>
			<key>utc_offset</key>
			<false/>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922067</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://www.google.com/&quot; rel=&quot;nofollow&quot;&gt;Google&lt;/a&gt;</string>
		<key>text</key>
		<string>Craigs the man;-) (YouTube http://bit.ly/4cEjx3)</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Thu May 08 12:11:26 +0000 2008</string>
			<key>description</key>
			<string>A family of genuine fireworks enthusiasts.</string>
			<key>favourites_count</key>
			<string>1</string>
			<key>followers_count</key>
			<string>92</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>73</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>14699367</string>
			<key>location</key>
			<string>Yorkshire, UK</string>
			<key>name</key>
			<string>Epic Fireworks</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>000000</string>
			<key>profile_background_image_url</key>
			<string>http://a1.twimg.com/profile_background_images/28697432/twitter4.jpg</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/357298117/twiticon_normal.png</string>
			<key>profile_link_color</key>
			<string>ffa812</string>
			<key>profile_sidebar_border_color</key>
			<string>181A1E</string>
			<key>profile_sidebar_fill_color</key>
			<string>000000</string>
			<key>profile_text_color</key>
			<string>ffa70f</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>EpicFireworks</string>
			<key>statuses_count</key>
			<string>660</string>
			<key>time_zone</key>
			<string>London</string>
			<key>url</key>
			<string>http://www.epicfireworks.com/</string>
			<key>utc_offset</key>
			<string>0</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922065</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://twitterfeed.com&quot; rel=&quot;nofollow&quot;&gt;twitterfeed&lt;/a&gt;</string>
		<key>text</key>
		<string>Earthquake injures 269 in southern Iran (AP): AP - A moderate earthquake has shaken southern Iran, injuring 269.. http://bit.ly/39CkuV</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Thu Oct 23 08:35:36 +0000 2008</string>
			<key>description</key>
			<string>The World News Built and maintained by @Spinnyglen</string>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>1232</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>40</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>16922792</string>
			<key>location</key>
			<string>Redding California</string>
			<key>name</key>
			<string>The World News</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>1A1B1F</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1256928834/images/themes/theme9/bg.gif</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a1.twimg.com/profile_images/74530938/earthecocapitolist_normal.jpg</string>
			<key>profile_link_color</key>
			<string>2FC2EF</string>
			<key>profile_sidebar_border_color</key>
			<string>181A1E</string>
			<key>profile_sidebar_fill_color</key>
			<string>252429</string>
			<key>profile_text_color</key>
			<string>666666</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>TheWorldNews</string>
			<key>statuses_count</key>
			<string>22503</string>
			<key>time_zone</key>
			<string>Alaska</string>
			<key>url</key>
			<false/>
			<key>utc_offset</key>
			<string>-32400</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922061</string>
		<key>in_reply_to_screen_name</key>
		<string>ComCorrec</string>
		<key>in_reply_to_status_id</key>
		<string>5414526295</string>
		<key>in_reply_to_user_id</key>
		<string>24060334</string>
		<key>source</key>
		<string>&lt;a href=&quot;http://ubertwitter.com&quot; rel=&quot;nofollow&quot;&gt;UberTwitter&lt;/a&gt;</string>
		<key>text</key>
		<string>@ComCorrec yeah errbody going Mad Hard in this one... Sooooo soooo real I&apos;m excited:)</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Mon Mar 23 00:24:51 +0000 2009</string>
			<key>description</key>
			<string>:o) </string>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>42</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>55</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>25915132</string>
			<key>location</key>
			<string>eugene</string>
			<key>name</key>
			<string>stephanie stephens</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>e6fc36</string>
			<key>profile_background_image_url</key>
			<string>http://a1.twimg.com/profile_background_images/26431346/Tranquility_Wallpaper_by_lee25.jpg</string>
			<key>profile_background_tile</key>
			<string>1</string>
			<key>profile_image_url</key>
			<string>http://a1.twimg.com/profile_images/395656584/me_vegas_normal.jpg</string>
			<key>profile_link_color</key>
			<string>0084B4</string>
			<key>profile_sidebar_border_color</key>
			<string>BDDCAD</string>
			<key>profile_sidebar_fill_color</key>
			<string>DDFFCC</string>
			<key>profile_text_color</key>
			<string>333333</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>sunnyd2122</string>
			<key>statuses_count</key>
			<string>767</string>
			<key>time_zone</key>
			<string>Pacific Time (US &amp; Canada)</string>
			<key>url</key>
			<false/>
			<key>utc_offset</key>
			<string>-28800</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922056</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://m.twitter.com/&quot; rel=&quot;nofollow&quot;&gt;mobile web&lt;/a&gt;</string>
		<key>text</key>
		<string>Just found a new way to Twitter via my iPod touch</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Sun Aug 10 03:46:18 +0000 2008</string>
			<key>description</key>
			<string>meet me once and remember me forever!</string>
			<key>favourites_count</key>
			<string>6</string>
			<key>followers_count</key>
			<string>55</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>68</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>15795052</string>
			<key>location</key>
			<string>ÜT: 36.708699,-121.659728</string>
			<key>name</key>
			<string>Corey Rock</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>9AE4E8</string>
			<key>profile_background_image_url</key>
			<string>http://a3.twimg.com/profile_background_images/30492537/113_1303.JPG</string>
			<key>profile_background_tile</key>
			<string>1</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/438583537/112_1299_normal.JPG</string>
			<key>profile_link_color</key>
			<string>0084B4</string>
			<key>profile_sidebar_border_color</key>
			<string>dbadaf</string>
			<key>profile_sidebar_fill_color</key>
			<string>DDFFCC</string>
			<key>profile_text_color</key>
			<string>333333</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>CoachRock69</string>
			<key>statuses_count</key>
			<string>880</string>
			<key>time_zone</key>
			<string>Pacific Time (US &amp; Canada)</string>
			<key>url</key>
			<false/>
			<key>utc_offset</key>
			<string>-28800</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922055</string>
		<key>in_reply_to_screen_name</key>
		<string>fr33lo4d3r</string>
		<key>in_reply_to_status_id</key>
		<string>5397561632</string>
		<key>in_reply_to_user_id</key>
		<string>47368314</string>
		<key>source</key>
		<string>&lt;a href=&quot;http://twitterrific.com&quot; rel=&quot;nofollow&quot;&gt;Twitterrific&lt;/a&gt;</string>
		<key>text</key>
		<string>@fr33lo4d3r stimmt schadet nicht aber du verpasst ganz schön viel...</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Wed Apr 29 17:32:50 +0000 2009</string>
			<key>description</key>
			<string></string>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>10</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>10</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>36417288</string>
			<key>location</key>
			<string></string>
			<key>name</key>
			<string>Tim Hagemann</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>022430</string>
			<key>profile_background_image_url</key>
			<string>http://s.twimg.com/a/1257288876/images/themes/theme1/bg.png</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a1.twimg.com/profile_images/231299756/Bild_004_normal.jpg</string>
			<key>profile_link_color</key>
			<string>0084B4</string>
			<key>profile_sidebar_border_color</key>
			<string>a8c7f7</string>
			<key>profile_sidebar_fill_color</key>
			<string>C0DFEC</string>
			<key>profile_text_color</key>
			<string>333333</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>kumpelblase2</string>
			<key>statuses_count</key>
			<string>117</string>
			<key>time_zone</key>
			<string>Greenland</string>
			<key>url</key>
			<false/>
			<key>utc_offset</key>
			<string>-10800</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922054</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>web</string>
		<key>text</key>
		<string>concierto lo podrá disfrutar gracias a la peli. La mala: El ya no pudo ver a ninguno disfrutarlo.</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Thu Jun 11 22:24:45 +0000 2009</string>
			<key>description</key>
			<string>Twitter oficial de Yordi Rosado</string>
			<key>favourites_count</key>
			<string>10</string>
			<key>followers_count</key>
			<string>12750</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>123</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>46508678</string>
			<key>location</key>
			<string>Mexico, DF</string>
			<key>name</key>
			<string>Yordi Rosado</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>1A1B1F</string>
			<key>profile_background_image_url</key>
			<string>http://a1.twimg.com/profile_background_images/46252840/bg_twitter.jpg</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a1.twimg.com/profile_images/293230496/P5170225_normal.JPG</string>
			<key>profile_link_color</key>
			<string>2FC2EF</string>
			<key>profile_sidebar_border_color</key>
			<string>181A1E</string>
			<key>profile_sidebar_fill_color</key>
			<string>252429</string>
			<key>profile_text_color</key>
			<string>666666</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>Yordi_Rosado</string>
			<key>statuses_count</key>
			<string>1897</string>
			<key>time_zone</key>
			<string>Central Time (US &amp; Canada)</string>
			<key>url</key>
			<string>http://www.yordirosado.com</string>
			<key>utc_offset</key>
			<string>-21600</string>
			<key>verified</key>
			<string>1</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922053</string>
		<key>in_reply_to_screen_name</key>
		<false/>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<false/>
		<key>source</key>
		<string>&lt;a href=&quot;http://twitterfeed.com&quot; rel=&quot;nofollow&quot;&gt;twitterfeed&lt;/a&gt;</string>
		<key>text</key>
		<string>MSN Redesign Relies on Structured Data from Bing http://bit.ly/2yZsav
 SEO.alltop.com</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Mon Aug 31 15:26:58 +0000 2009</string>
			<key>description</key>
			<string>A river of SEO news from Alltop.com.</string>
			<key>favourites_count</key>
			<string>0</string>
			<key>followers_count</key>
			<string>922</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>0</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>70418700</string>
			<key>location</key>
			<string>Palo Alto, CA</string>
			<key>name</key>
			<string>Alltop</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>9AE4E8</string>
			<key>profile_background_image_url</key>
			<string>http://a1.twimg.com/profile_background_images/33927920/DSC_1985.jpg</string>
			<key>profile_background_tile</key>
			<string>0</string>
			<key>profile_image_url</key>
			<string>http://a1.twimg.com/profile_images/391216966/IloveAlltop_normal.png</string>
			<key>profile_link_color</key>
			<string>3a16f0</string>
			<key>profile_sidebar_border_color</key>
			<string>BDDCAD</string>
			<key>profile_sidebar_fill_color</key>
			<string>ffffff</string>
			<key>profile_text_color</key>
			<string>000000</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>Alltop_SEO</string>
			<key>statuses_count</key>
			<string>4146</string>
			<key>time_zone</key>
			<string>Hawaii</string>
			<key>url</key>
			<string>http://seo.alltop.com</string>
			<key>utc_offset</key>
			<string>-36000</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
	<dict>
		<key>created_at</key>
		<string>Wed Nov 04 07:20:37 +0000 2009</string>
		<key>favorited</key>
		<string>0</string>
		<key>geo</key>
		<false/>
		<key>id</key>
		<string>5414922050</string>
		<key>in_reply_to_screen_name</key>
		<string>SilentSnsation</string>
		<key>in_reply_to_status_id</key>
		<false/>
		<key>in_reply_to_user_id</key>
		<string>60430385</string>
		<key>source</key>
		<string>web</string>
		<key>text</key>
		<string>@silentSnsation girl, please tell me its because u was a cop for halloween... lol</string>
		<key>truncated</key>
		<string>0</string>
		<key>user</key>
		<dict>
			<key>created_at</key>
			<string>Sun Jun 28 04:22:54 +0000 2009</string>
			<key>description</key>
			<string>Its not what I do...., its what DON&apos;T I do?!!!.... </string>
			<key>favourites_count</key>
			<string>1</string>
			<key>followers_count</key>
			<string>254</string>
			<key>following</key>
			<string>0</string>
			<key>friends_count</key>
			<string>574</string>
			<key>geo_enabled</key>
			<string>0</string>
			<key>id</key>
			<string>51649051</string>
			<key>location</key>
			<string>Lexington, Ky</string>
			<key>name</key>
			<string>Heather Shannon</string>
			<key>notifications</key>
			<string>0</string>
			<key>profile_background_color</key>
			<string>9AE4E8</string>
			<key>profile_background_image_url</key>
			<string>http://a1.twimg.com/profile_background_images/45389022/untitleblue.bmp</string>
			<key>profile_background_tile</key>
			<string>1</string>
			<key>profile_image_url</key>
			<string>http://a3.twimg.com/profile_images/472097945/untit_normal.bmp</string>
			<key>profile_link_color</key>
			<string>d47815</string>
			<key>profile_sidebar_border_color</key>
			<string>060212</string>
			<key>profile_sidebar_fill_color</key>
			<string>5c5c70</string>
			<key>profile_text_color</key>
			<string>0c2a9e</string>
			<key>protected</key>
			<string>0</string>
			<key>screen_name</key>
			<string>HeatherBently</string>
			<key>statuses_count</key>
			<string>1855</string>
			<key>time_zone</key>
			<string>Quito</string>
			<key>url</key>
			<string>http://www.facebook.com/HeatherBently</string>
			<key>utc_offset</key>
			<string>-18000</string>
			<key>verified</key>
			<string>0</string>
		</dict>
	</dict>
</array>
</plist>
